body {
    font-family: "Lato", sans-serif;
    align-items: left;
  /* flex-direction: left; */
  }

  hr { 
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
  
  .sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
  }
  
  .sidenav a {
    /* padding: 5px 5px 5px 5px; */
    padding-bottom: 5px;
    overflow-x: hidden;
    margin-left: 0px;
    margin-right: 0px; 
    margin: 1px;
    padding-top: 10px;
    /* padding-left: 1px; */
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #c9c9c9;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    left: 50%;
  }

  i:hover {
    color: #c9c9c9;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  canvas {
    /* width: 100%;
    height: 100%; */
 }
 
