@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container{
  padding: 1em 0;
  float: left;
  width: 100%;
}
@media screen and (max-width: 640px){
  .container{
    display: inline-block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: left;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 500px;
  height: 150px;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
}

/* HOVER LAYER */
.content .content-overlay {
  border-radius: 15px;
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 86%;
  width: 93%;
  left: 2px;
  top: 11px;
  bottom: 0;
  right: 10;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}


.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  border-radius: 15px;
  border: 3px solid rgb(0, 0, 0);
  width: 95%;
  height: 90%;
  min-height: 130px;
}

.content-details {
  position: absolute;
  text-align: left;
  padding-left: 10px;
  padding-right: 1em;
  /* padding-top: 10px; */
  width: 100%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 60%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top{
  top: 100%;
}