canvas {
    display: block;
    vertical-align: bottom;
  }
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }

  
  h1 {
    font-size: 2.25em;
    font-weight: 700;
    letter-spacing: -1px;
  }
  a, a:visited {
    color: #e34234;
    transition: 0.25s;
  }
  a:hover, a:focus {
    color: #ba160c;
  }